
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/
/.docker/.docker-sync/
/.docker/docker-compose.yml
/.docker/.env
